Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

# Force search for .html files if no extension is supplied
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]
